#root {
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: rgb(60, 64, 65);
  padding: 1%;
  /*text-shadow: 3px 3px black;*/
}
.h2{
  font-size: 150%;
  font-weight: 700;
}
.display-3{
  text-align: center;
}
.text-center{
  padding: 3%;
}
.col-4{
  padding: 3%;
  /*background-color: rgb(223, 219, 219);*/
}
.col-8{
  padding: 3%;
}
.space{
  padding: 3%;
}
.space-lg{
  padding:6%;
}
.space-sm{
  padding: 1%;
}
.bold{
  font-weight: 700; 
}

.ingredients-banner {
  background-color:#d3d8d5;
}
.mobileShow { display: none;}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}
.navbar-toggler.toggler-example {
  cursor: pointer;
  }
.btn-right{
  float: right;
}